.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Фіксує хедер */
  top: 0; /* Відступ від верху */
  left: 50%; /* Відступ від лівого краю */
  transform: translateX(-50%); /* Центрування хедера */
  width: 100%; /* Ширина хедера */
  max-width: 960px; /* Максимальна ширина */
  background-color: #333333; /* Чорний колір фону */
  color: white; /* Колір тексту */
  padding: 10px 0; /* Відступи всередині хедера */
  z-index: 1000; /* Забезпечує, що хедер буде поверх інших елементів */
  box-sizing: border-box; /* Щоб padding враховувався в ширині елемента */
  border-radius: 0 0 10px 10px; /* Заокруглення нижніх кутів */
  }